[submodule "riscv-newlib"]
	path = riscv-newlib
	url = https://github.com/riscv/riscv-newlib.git
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = git://github.com/riscv/riscv-gcc
[submodule "riscv-binutils-gdb"]
	path = riscv-binutils-gdb
	url = git://github.com/riscv/riscv-binutils-gdb
